<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%=s.company.name%> | Pay</title>

    <link rel="icon" href="img/favicon.ico">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/input.css">
    <link rel="stylesheet" href="css/coded.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Muli' type='text/css'>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  </head>
  <body>
  <div class="site-wrapper-payment">
    <div class="cover-container2">
      <div class="inner cover">
        <img src="img/logoUnbinded-white.png" class="logoLead-payment"><br>
        <span style="color:white;"><%=message%></span>
      </div>
    </div>

    <div class="footerDiv">
      <p class="footertext">
        <%=s.company.address%>
        <br>
        <%=s.company.website%>
      </p>
    </div>

  </div>

  </body>
</html>
