<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	</head>

	<body ng-app="sortTable" ng-controller="usersCtrl">
		<div class="container">
			<h1>Users</h1>
			<!-- <input ng-model="filterBy"> -->
			<ul>
				<li ng-repeat="user in selectedItems">{{user.firstName + " " + user.lastName}}</li>
			</ul>
			<div class="table-responsive">
	            <table class="table table-striped">
	              <thead>
	                <tr>
	                  <th></th>
	                  <th>FB Profile Pic</th>
	                  <th ng-click="headingClicked(0)"><span class="glyphicon glyphicon-sort-by-attributes" ng-if="currentHead==0 && isReversed==false"> </span><span class="glyphicon glyphicon-sort-by-attributes-alt" ng-if="currentHead==0 && isReversed==true"> </span>Name</th>
	                  <th ng-click="headingClicked(1)"><span class="glyphicon glyphicon-sort-by-attributes" ng-if="currentHead==1 && isReversed==false"> </span><span class="glyphicon glyphicon-sort-by-attributes-alt" ng-if="currentHead==1 && isReversed==true"> </span>Gender</th>
	                  <th ng-click="headingClicked(2)"><span class="glyphicon glyphicon-sort-by-attributes" ng-if="currentHead==2 && isReversed==false"> </span><span class="glyphicon glyphicon-sort-by-attributes-alt" ng-if="currentHead==2 && isReversed==true"> </span>Phone Number</th>
	                  <th ng-click="headingClicked(3)"><span class="glyphicon glyphicon-sort-by-attributes" ng-if="currentHead==3 && isReversed==false"> </span><span class="glyphicon glyphicon-sort-by-attributes-alt" ng-if="currentHead==3 && isReversed==true"> </span>No Of Events Attended</th>
	                  <th>Select</th>
	                </tr>
	              </thead>
	              <tbody id="usersTBody">
	              	<tr ng-repeat="user in users | orderBy:orderField:isReversed | filter:filterBy">
	              		<td>{{$index + 1}}</td>
	              		<td><img style="height:50px;" src="{{user.profilePic}}" /></td>
	              		<td>{{user.firstName + " " + user.lastName}}</td>
	              		<td>{{user.gender}}</td>
	              		<td>{{user.phoneNumber}}</td>
	              		<td>{{user.events.length}}</td>
	              		<td><input type="checkbox" ng-model="selection" ng-change="updateSelectedItems(user._id)"></td>
	              	</tr>
	              </tbody>
	            </table>
        	</div>
		</div>

    <script type="text/javascript">
    var app = angular.module('sortTable' , []);

    app.controller('usersCtrl', ['$scope', '$http' , function($scope, $http) {
      $http.get('/userAnalyticsData.<%= s.company.code %>').success(function(response) {
        $scope.users = response.users;
        console.log("hello");
      })
      $scope.currentHead = -1;

      $scope.headingClicked = function(head) {
        if($scope.currentHead == head) {
          $scope.isReversed = !$scope.isReversed;
        } else {
          $scope.isReversed = false;
        }

        $scope.currentHead = head;

        switch(head) {

          case 0:
            $scope.orderField = ['firstName','lastName'];
            break;
          case 1:
            $scope.orderField = 'gender';
            break;
          case 2:
            $scope.orderField = 'phoneNumber';
            break
          case 3:
            $scope.orderField = 'events.length';
            break;
        }
      }

      $scope.selectedItems = [];

      $scope.updateSelectedItems = function(id) {
        console.log(id);
        var index = JSON.stringify($scope.selectedItems).indexOf(id);
        if(index < 0) {
          $scope.users.forEach(function(user) {
            if (user._id == id) {
              $scope.selectedItems.push(user);
            }
          });
        } else {
          for(i = 0; i < $scope.selectedItems.length; i++) {
            if($scope.selectedItems[i]._id == id) {
              $scope.selectedItems.splice(i, 1);
              console.log("BYE");
            }
          }
        }
        console.log($scope.selectedItems);
      }
    }])

    </script>
	</body>
</html>
