<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Broadcast</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link rel="stylesheet" href="css/broadcast.css" media="screen" title="no title" charset="utf-8">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

    <style media="screen">


    </style>
  </head>
  <body onload="init()">
    <div class="container">
      <h1>Broadcast</h1>

      <form>
      <p>Enter the messaged to send to all registered bot users:</p>
      <table>
        <tr onclick="changeType('message')">
          <td class="form_td">
            <span id="type_message" class="radioButton">O</span>
          </td>
          <td>
            <b>Text Message</b> with following text:<br>
            <textarea name="textarea_message" id="textarea_message"></textarea>
          </td>
        </tr>
        <tr onclick="changeType('upcomingGames')">
          <td class="form_td">
            <span id="type_upcomingGames" class="radioButton">O</span>
          </td>
          <td>
            <b>Upcoming Games</b> with following text:<br>
            <textarea name="textarea_upcomingGames" id="textarea_upcomingGames"></textarea>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <input type="button" value="Send" onclick="send()">
          </td>
        </tr>

      </table>
      </form>

    </div>

    <script type="text/javascript">

    var type = 'message';

    function init() {
      changeType(type);
    }

    function changeType(newType) {
      $('#type_' + type).removeClass("radioButtonSelected");
      $('#type_' + type).addClass("radioButton");
      type = newType;
      $('#type_' + type).removeClass("radioButton");
      $('#type_' + type).addClass("radioButtonSelected");
    }

    function sendMessage(type, message, greeting) {
      $.post(window.location.href + "?typ=" + type + "&message=" + message, function( data ) {
        console.log(data);
      });
    }

    function send() {
      if (type == 'message') {
        if ($('#textarea_message').val().trim().length == 0) {
          alert('Message box empty');
          return;
        }
        if (confirm("Are you sure you want to send this message?")) {
          sendMessage(type, $('#textarea_message').val().trim());
        }
      } else if (type == 'upcomingGames') {
        if ($('#textarea_upcomingGames').val().trim().length == 0) {
          alert('Message box empty');
          return;
        }
        if (confirm("Are you sure you want to send this message along with upcoming games?")) {
          sendMessage(type, $('#textarea_upcomingGames').val().trim());
        }
      }
    }

    </script>
  </body>
</html>
