<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Kickabout | Custom Payment</title>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
    <link href="css/coded.css" rel="stylesheet">
    <link rel="icon" href="img/favicon.png">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>

    <style media="screen">
      #payment-form {
        max-width: 300px;
        display: block;
        margin: 0 auto;
      }
    </style>
  </head>
  <body>
    <div class="site-wrapper-payment">

      <div class="site-wrapper-inner2">

        <img src="img/logoUnbinded-white.png" class="logoLead-custompayment">

        <div class="formContainer">
          <div id="card-preview" style="display:none;"></div>
          <form class="form-horizontal" action="/custompayment" method="POST" id="payment-form">
            <span class="payment-errors"></span>
            <div class="form-group">
              <input type="text" class="form-control" id="amountInput" 
                placeholder="Amount (£)" name="amount">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="amountInput" 
                placeholder="Reference (eg. Katy's Powerleague Payment)" name="reference">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="nameInput" 
                placeholder="Card Holder Name" name="name">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="numberInput" 
                placeholder="Card Number" data-stripe="number"" name="number">
            </div>
            <div class="form-group">
              <table>
                <tr>
                  <td style="padding-right:12px">
                    <input type="text" class="form-control" id="expiryInput" 
                      placeholder="MM/YY" data-stripe="expiry" name="expiry">
                  </td>
                  <td>
                    <input type="text" class="form-control" id="cvvInput" 
                      placeholder="CVV" data-stripe="cvc">
                  </td>
                </tr>
              </table>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary" 
                value="Submit Payment">Pay with Card</button>
            </div>
          </form>
        </div>

        <p class="footertext" style="margin-bottom:10px;padding-bottom:0px;">
          Activate Technologies Ltd<br>
          Gordon House, 29 Gordon Square, London, WC1H 0PP<br>
          <a href="www.activatetechnologies.co.uk">
            www.activatetechnologies.co.uk
          </a>
        </p>

      </div>

    </div>

    <script src="js/card.js"></script>
    <script type="text/javascript">
      // Stripe.setPublishableKey('pk_test_p3GX2e0V1P9FteC3qz29z4YK');
      Stripe.setPublishableKey('pk_live_Dey0ulbB4AOL81fmpzWnFKYa');

      $(function() {
        var $form = $('#payment-form');
        $form.submit(function(event) {
          // Disable the submit button to prevent repeated clicks:
          $form.find('.submit').prop('disabled', true);

          // Request a token from Stripe:
          Stripe.card.createToken($form, stripeResponseHandler);

          // Prevent the form from being submitted:
          return false;
        });
      });

      function stripeResponseHandler(status, response) {
        // Grab the form:
        var $form = $('#payment-form');

        if (response.error) { // Problem!

          // Show the errors on the form:
          $form.find('.payment-errors').text(response.error.message);
          $form.find('.submit').prop('disabled', false); // Re-enable submission

        } else { // Token was created!

          // Get the token ID:
          var token = response.id;

          // Insert the token ID into the form so it gets submitted to the server:
          $form.append($('<input type="hidden" name="stripeToken">').val(token));

          // Submit the form:
          $form.get(0).submit();
        }
      };

      var card = new Card({
        form: '#payment-form',
        container: '#card-preview',
      });
    </script>
  </body>
</html>
