<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Kickabout | Book</title>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/input.css">
    <link rel="icon" href="imag/favicon.png">
    <link href="css/coded.css" rel="stylesheet">
    <link rel="icon" href="img/favicon.png">

    <meta property="og:title" content="<%= gameName %>" />
    <meta property="og:description" content="Kickabout Game" />
    <meta property="fb:app_id" content="144481079297226">
    <meta property="og:image" content="http://limitless-sierra-68694.herokuapp.com/img/testimage.png" />
    <meta property="og:image:secure_url" content="https://limitless-sierra-68694.herokuapp.com/img/testimage.png" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>


    <style>
      a {
        text-shadow: none;
      }
      #loader {
        margin: 0 auto;
      }
    </style>
  </head>
  <body>

    <div class="site-wrapper-payment">

      <div class="site-wrapper-inner2">

        <div class="cover-container2">

          <div class="inner cover">

              <img src="img/logoUnbinded-white.png" class="logoLead-custompayment">

              <p id="text" class="title-text-useMessenger">Use Facebook Messenger to book your game:</p>
              <img id="lg" class="button-login" onclick="magic()" src="img/login-with-facebook.png">
              <div id="clicker" class="messenger-container">
                <div class="fb-send-to-messenger"
                  messenger_app_id="159289771143437"
                  page_id="245261069180348"
                  data-ref="<%= gid %>"
                  color="blue"
                  size="xlarge">
                </div>
              </div>
              <div id="loader" class="preloader-wrapper active">
                <div class="spinner-layer spinner-blue-only">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div><div class="gap-patch">
                    <div class="circle"></div>
                  </div><div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>

              <div class="container" id="finished">
                <a class="btn btn-primary" href="http://m.me/kickaboutapp">Go to Messenger</a>
              </div>

              <p class="footertext">
                Activate Technologies Ltd, Gordon House, 29 Gordon Square, London, WC1H 0PP
                <br>
                www.activatetechnologies.co.uk
              </p>

            </div>

          </div>

        </div>

      </div>

      <div class="container" id="finished">
        <a class="btn" href="http://m.me/245261069180348">Go to the Bot</a>
      </div>


    <script>

    function magic(){
      console.log("called magic");
      FB.login(function(res) {
        if (res.authResponse) {
          location.reload()
        } else {
         console.log('User cancelled login or did not fully authorize.');
        }
      });
    }

      window.fbAsyncInit = function() {

        var fin = document.getElementById('finished');
        fin.style.display = 'none';
        var loader = document.getElementById('loader');
        loader.style.display = 'none'

        FB.init({
          appId: "159289771143437",
          xfbml: true,
          version: "v2.6"
        });

        FB.getLoginStatus(function(response) {
          if (response.status === 'connected') {
            var lg = document.getElementById('lg');
            lg.style.display = "none";
            console.log('Logged in.');
          }
          else if (response.status === 'not_authorized') {
            console.log("not authorized");
            var clicker = document.getElementById('clicker');
            clicker.style.display = 'none';
          }
          else {
            console.log("not the two above");
            var clicker = document.getElementById('clicker');
            clicker.style.display = 'none';
          }
        });

      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) { return; }
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

      var myConfObj = {
        iframeMouseOver : false
      }
      window.addEventListener('blur',function(){
        if(myConfObj.iframeMouseOver){
          // var clicker = document.getElementById('clicker');
          // clicker.style.display = 'none'
          var loader = document.getElementById('loader');
          loader.style.display = 'block'
          setTimeout(function(){
            loader.style.display = 'none'
            // window.location.href = "http://m.me/245261069180348";
            var fin = document.getElementById('finished');
            fin.style.display = 'block'
          }, 2000);
        }
      });

      document.getElementById('clicker').addEventListener('mouseover',function(){
         myConfObj.iframeMouseOver = true;
      });
      document.getElementById('clicker').addEventListener('mouseout',function(){
          myConfObj.iframeMouseOver = false;
      });

    </script>
  </body>
</html>
