<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Kickabout | Book</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link rel="stylesheet" href="css/input.css">
    <link rel="icon" href="imag/favicon.png">
    <link href="css/coded.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
    <link rel="image_src" href="http://limitless-sierra-68694.herokuapp.com/img/publicLinkImage.png"/>

    <meta property="og:title" content="Kickabout | Game" />
    <meta property="og:description" content="Find a Game" />
    <meta property="og:image" content="http://limitless-sierra-68694.herokuapp.com/img/publicLinkImage.png" />
    <meta property="og:image:secure_url" content="https://limitless-sierra-68694.herokuapp.com/img/publicLinkImage.png" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  </head>
  <body>
    <div class="container">
      <img src="img/linear-logo.png" class="logoLead2">
      <p id="text" class="title-text">Use Facebook Messenger to book your game:</p>
      <img id="lg" class="button-login" onclick="magic()" src="img/login-with-facebook.png">
      <div id="clicker" class="messenger-container">
        <div class="fb-send-to-messenger"
          messenger_app_id="144481079297226"
          page_id="1625739117677522"
          data-ref="<%= gid %>"
          color="blue"
          size="xlarge">
        </div>
      </div>
    </div>

    <script>

    function magic(){
      console.log("called magic");
      FB.login(function(res) {
        if (res.authResponse) {
          location.reload()
        } else {
         console.log('User cancelled login or did not fully authorize.');
        }
      });
    }

      window.fbAsyncInit = function() {
        FB.init({
          appId: "144481079297226",
          xfbml: true,
          version: "v2.6"
        });

        FB.getLoginStatus(function(response) {
          if (response.status === 'connected') {
            // the user is logged in and has authenticated your
            // app, and response.authResponse supplies
            // the user's ID, a valid access token, a signed
            // request, and the time the access token
            // and signed request each expire
            var lg = document.getElementById('lg');
            lg.style.display = "none";
            console.log('Logged in.');
          }
          else if (response.status === 'not_authorized') {
            console.log("not authorized");
            var lg = document.getElementById('lg');
            lg.style.display = "none";
            // var clicker = document.getElementById('clicker');
            // clicker.style.display = 'none'
            // console.log("not logged into app yet");
          }
          else {
            console.log("not the two above");
            // var clicker = document.getElementById('clicker');
            // clicker.style.display = 'block'
            var clicker = document.getElementById('clicker');
            clicker.style.display = 'none'
            console.log("not logged into app yet");
          }
        });

      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) { return; }
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

      var myConfObj = {
        iframeMouseOver : false
      }
      window.addEventListener('blur',function(){
        if(myConfObj.iframeMouseOver){
          window.location.href = "http://m.me/kickaboutapp";
        }
      });

      document.getElementById('clicker').addEventListener('mouseover',function(){
         myConfObj.iframeMouseOver = true;
      });
      document.getElementById('clicker').addEventListener('mouseout',function(){
          myConfObj.iframeMouseOver = false;
      });

    </script>
  </body>
</html>
