<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Game</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link rel="stylesheet" href="css/input.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  </head>
  <body>
    <div class="container">
      <h2 id="text">Check out our bot to book the game.</h2>
    </div>
    <div id="clicker" class="container">
      <div class="fb-send-to-messenger"
        messenger_app_id="159289771143437"
        page_id="245261069180348"
        data-ref="<%= gid %>"
        color="blue"
        size="xlarge">
      </div>
    </div>

    <script>

      window.fbAsyncInit = function() {
        FB.init({
          appId: "159289771143437",
          xfbml: true,
          version: "v2.6"
        });

      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) { return; }
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
         js.addEventListener('click', function(){
           console.log("should work");
         })
      }(document, 'script', 'facebook-jssdk'));

      var myConfObj = {
        iframeMouseOver : false
      }
      window.addEventListener('blur',function(){
        if(myConfObj.iframeMouseOver){
          window.location.href = "http://m.me/245261069180348";
        }
      });

      document.getElementById('clicker').addEventListener('mouseover',function(){
         myConfObj.iframeMouseOver = true;
      });
      document.getElementById('clicker').addEventListener('mouseout',function(){
          myConfObj.iframeMouseOver = false;
      });

    </script>
  </body>
</html>
