<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Input Games</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link rel="stylesheet" href="css/input.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

  </head>
  <body>

    <div class="container">
      <h2>Input Games</h2>

      <div class="card">
        <form id="addgame" method="POST" action="/input" enctype="multipart/form-data">

          <h5>Add a game</h5>
          <div class="input-field">
            <input name="title" type="text" class="validate" required>
            <label for="title">Name</label>
          </div>
          <div class="input-field">
            <input name="address" type="text" class="validate" required>
            <label for="address">Address</label>
          </div>
          <div class="input-field">
            <input type="file" name="image" id="image">
          </div>
          <div class="input-field">
            <input name="latlong" type="text" class="validate" required>
            <label for="latlong">Latitude & Longitude (latitude,longitude)</label>
          </div>
          <div class="input-field">
            <input name="when" type="date" class="validate" required>
          </div>
          <div class="input-field">
            <input name="desc" type="text" class="validate" required>
            <label for="desc">Description</label>
          </div>
          <div class="input-field">
            <input name="capacity" type="text" class="validate" required>
            <label for="capacity">Capacity</label>
          </div>
          <div class="input-field">
            <input name="non_members_attending" type="text" class="validate" required>
            <label for="non_members_attending">Non Members Attending</label>
          </div>
          <div class="input-field">
            <input name="price" type="text" class="validate" required>
            <label for="price">Price (0 for free)</label>
          </div>
          <div class="input-field" style="display:none">
            <input name="id" type="text" class="validate">
            <label for="id">Id (only for editing the event)</label>
          </div>

          <input type="submit" class="btn" value="Submit"/>

        </form>
      </div>
    </div>

    <div class="current container">
      <h2>Current Games</h2>
      <div id="today">
        <h4>Today</h4>

      </div>
      <div id="tomorrow">
        <h4>Tomorrow</h4>

      </div>
      <div id="soon">
        <h4>Soon</h4>

      </div>
    </div>

    <div class='row'>
      <div class="col s6">

      </div>
    </div>

    <script type="text/javascript">

      var games = {};

      function deleteGame(gid){
        if (confirm("Are you sure you want to delete the game?")) {
          $.ajax({
            url: window.location.href + "?gid=" + gid,
            type: "DELETE",
            success: function(result) {
              location.reload();
            }
          });
        }
      }

      var editEvent = function(gid) {
        if (games[gid]) {
          console.log('Found game', games[gid]);
          $("#addgame input[name=title]").val(games[gid].name);
          $("#addgame input[name=address]").val(games[gid].address);
          $("#addgame input[name=latlong]").val(games[gid].latlong);
          $("#addgame input[name=when]").val(games[gid].when.substring(0,10));
          $("#addgame input[name=desc]").val(games[gid].desc);
          $("#addgame input[name=capacity]").val(games[gid].capacity);
          $("#addgame input[name=non_members_attending]").val(games[gid].non_members_attending);
          $("#addgame input[name=price]").val(games[gid].price);
          $("#addgame input[name=id]").val(gid);

          //Focus on all to move floating lable up, end with title to help scroll
          $("html, body").animate({ scrollTop: 0 }, "slow", () => {
            $("#addgame input[name=address]").focus();
            $("#addgame input[name=latlong]").focus();
            $("#addgame input[name=when]").focus();
            $("#addgame input[name=desc]").focus();
            $("#addgame input[name=capacity]").focus();
            $("#addgame input[name=non_members_attending]").focus();
            $("#addgame input[name=price]").focus();
            $("#addgame input[name=id]").focus();
            $("#addgame input[name=title]").focus();
          });
        } else {
          console.log('Game not found');
        }
      }

      var getPlayerCard = function(player) {
        var data = "<div>";
        data += "<div class='profileDivLeft'>" + "<img class='profile_img' src='" + player.profile_pic + "'>" + "</div>"
        data += "<div class='profileDivRight'>"
        data += "<b>" + player.firstname + " " + player.lastname + "</b><br>";
        data += "userid:" + player._id + "";
        data += "</div>"
        player._id + "<br>";
        return data;
      }

      var getCard = function(game, timeframe){
        var data =
        '<div class="card">'
          + '<div class="row">'
            + '<div class="col s6">'
              + "<span class='card-title'>" + game.name + "</span>"
              + "<span style='cursor:pointer;' onclick=\"editEvent('" + game._id + "')\">&nbsp;(edit)</span>"
              + "<span style='cursor:pointer;' onclick=\"deleteGame('" + game._id + "')\">&nbsp;(delete)</span><br><br>"
              + "<b>Description: </b>" + game.desc + "<br>"
              + "<b>Address: </b>" + game.address + "<br>"
              + "<b>Image Link: </b><a target='_blank' href='" + game.image_url + "'>Link</a><br>"
              + "<b>Lat, Long: </b>" + game.latlong + "<br>"
              + "<b>When: </b>" + game.when.substring(8, 10) + "/" + game.when.substring(5,7) + "/" + game.when.substring(0, 4) + "<br>"
              + "<b>Number of Players: </b>" + game.joined.length + "/" + game.capacity + "<br>"
              + "<b>Price: </b>£" + (Math.round(game.price*100)/100).toFixed(2) + "<br>"
              + "<b>Shareable Link: </b><a target='_blank' href='" + "http://www.activatetechnologies.co.uk/game?gid="+ game._id + "'>Link</a><br>"
              + "<b>id: </b>" + game._id + "<br>"
              + "<b>Players attending: </b>" + "<br>"
              + "<div id='" + timeframe + "_" + game._id + "_players'></div>"
            + "</div>"
            + '<div class="col s6">'
                + '<img width="300" src="' + game.image_url + '" />'
            + "</div>"
          + "</div>"
        + '</div>';

        if (game.joined && game.joined.length) {
          $.get('/players?gid=' + game._id, function(data, status){
            //console.log('Data', data);
            data.forEach(function(player){
              var playerCard = getPlayerCard(player);
              //console.log('playerCard', playerCard);
              $('#' + timeframe + "_" + game._id + '_players').append(playerCard);
            })
          })
        }
        return data;
      }

      $(document).ready(function(){
        $.get('/today', function(data, status){
          data.forEach(function(item){
            games[item._id] = item;
            var data = getCard(item, 'today');
            $('#today').append(data);
          })
        })

        $.get('/tomorrow', function(data, status){
          data.forEach(function(item){
            games[item._id] = item;
            var data = getCard(item, 'tomorrow');
            $('#tomorrow').append(data);
          })
        })

        $.get('/soon', function(data, status){
          data.forEach(function(item){
            games[item._id] = item;
            var data = getCard(item, 'soon');
            $('#soon').append(data);
          })
        })
      })

      // $("#addgame").submit(function(event){
      //   event.preventDefault();
      //   Materialize.toast('Game added', 4000);
      // });

    </script>

  </body>
</html>
