<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Input Games</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link rel="stylesheet" href="css/input.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>


  </head>
  <body>

    <div class="container">
      <h1>Input Games</h1>


      <div class="card">
        <form id="today">

          <h5>Add a game for today</h5>
          <div class="input-field">
            <input id="name" type="text" class="validate">
            <label for="name">Name</label>
          </div>
          <div class="input-field">
            <input id="address" type="text" class="validate">
            <label for="address">Address</label>
          </div>
          <div class="input-field">
            <input id="image_url" type="text" class="validate">
            <label for="image_url">Inage URL</label>
          </div>
          <div class="input-field">
            <input id="latlong" type="text" class="validate">
            <label for="latlong">Latitude & Longitude (latitude,longitude)</label>
          </div>

          <input type="submit" class="btn" value="Submit"/>

        </form>

      </div>


    </div>

    <script type="text/javascript">
      $("#today").submit(function(event){
        event.preventDefault();

        var name = $('#name').val();
        var address = $('#address').val();
        var image_url = $("#image_url").val();
        var latlong = $("#latlong").val();

        Materialize.toast('Game added to today', 4000);
      })
    </script>

  </body>
</html>
