<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Input Games</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link rel="stylesheet" href="css/input.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>


  </head>
  <body>

    <div class="container">
      <h2>Input Games</h2>

      <div class="card">
        <form id="addgame">

          <h5>Add a game</h5>
          <div class="input-field">
            <input id="name" type="text" class="validate">
            <label for="name">Name</label>
          </div>
          <div class="input-field">
            <input id="address" type="text" class="validate">
            <label for="address">Address</label>
          </div>
          <div class="input-field">
            <input id="image_url" type="text" class="validate">
            <label for="image_url">Image URL</label>
          </div>
          <div class="input-field">
            <input id="latlong" type="text" class="validate">
            <label for="latlong">Latitude & Longitude (latitude,longitude)</label>
          </div>
          <div class="input-field">
            <input id="when" type="date" class="validate">
          </div>
          <div class="input-field">
            <input id="capacity" type="text" class="validate">
            <label for="capacity">Capacity</label>
          </div>
          <div class="input-field">
            <input id="id" type="text" class="validate">
            <label for="id">Id (only for editing the event)</label>
          </div>

          <input type="submit" class="btn" value="Submit"/>

        </form>
      </div>
    </div>

    <div class="current">
      <h2>Current Games</h2>
      <div class="row">
        <div class="col s4" id="today">
          <h4>Today</h4>

        </div>
        <div class="col s4" id="tomorrow">
          <h4>Tomorrow</h4>

        </div>
        <div class="col s4" id="soon">
          <h4>Soon</h4>

        </div>
      </div>
    </div>

    <script type="text/javascript">

      $(document).ready(function(){
        $.get('/today', function(data, status){
          data.forEach(function(item){
            $('#today').append("<h5>" + item.name + "</h5>");
            $('#today').append("<p>" + "<b>Address: </b>" + item.address + "</p>");
            $('#today').append("<p>" + "<b>Image Link: </b>" + item.image_url + "</p>");
            $('#today').append("<p>" + "<b>Lat, Long: </b>" + item.latlong + "</p>");
            $('#today').append("<p>" + "<b>When: </b>" + item.when + "</p>");
            $('#today').append("<p>" + "<b>Joined: </b>" + item.joined.length + "</p>");
            $('#today').append("<p>" + "<b>Capacity: </b>" + item.capacity + "</p>");
            $('#today').append("<p>" + "<b>id: </b>" + item._id + "</p>");
          })
        })

        $.get('/tomorrow', function(data, status){
          data.forEach(function(item){
            $('#tomorrow').append("<h5>" + item.name + "</h5>");
            $('#tomorrow').append("<p>" + "<b>Address: </b>" + item.address + "</p>");
            $('#tomorrow').append("<p>" + "<b>Image Link: </b>" + item.image_url + "</p>");
            $('#tomorrow').append("<p>" + "<b>Lat, Long: </b>" + item.latlong + "</p>");
            $('#tomorrow').append("<p>" + "<b>When: </b>" + item.when + "</p>");
            $('#tomorrow').append("<p>" + "<b>Joined: </b>" + item.joined.length + "</p>");
            $('#tomorrow').append("<p>" + "<b>Capacity: </b>" + item.capacity + "</p>");
            $('#tomorrow').append("<p>" + "<b>id: </b>" + item._id + "</p>");
          })
        })

        $.get('/soon', function(data, status){
          data.forEach(function(item){
            $('#soon').append("<h5>" + item.name + "</h5>");
            $('#soon').append("<p>" + "<b>Address: </b>" + item.address + "</p>");
            $('#soon').append("<p>" + "<b>Image Link: </b>" + item.image_url + "</p>");
            $('#soon').append("<p>" + "<b>Lat, Long: </b>" + item.latlong + "</p>");
            $('#soon').append("<p>" + "<b>When: </b>" + item.when + "</p>");
            $('#soon').append("<p>" + "<b>Joined: </b>" + item.joined.length + "</p>");
            $('#soon').append("<p>" + "<b>Capacity: </b>" + item.capacity + "</p>");
            $('#soon').append("<p>" + "<b>id: </b>" + item._id + "</p>");
          })
        })
      })

      $("#addgame").submit(function(event){
        event.preventDefault();

        var name = $('#name').val();
        var address = $('#address').val();
        var image_url = $("#image_url").val();
        var latlong = $("#latlong").val();
        var when = $('#when').val();
        var id = $('#id').val();
        var capacity = $('#capacity').val();

        var data = {
          name: name,
          address: address,
          image_url: image_url,
          latlong: latlong,
          when: when,
          capacity: capacity,
          id: id
        }

        $.ajax({
          type: "POST",
          url: "/input",
          data: data,
          success: function(result){
            console.log("result");
          }
        })
        Materialize.toast('Game added', 4000);
      });

    </script>

  </body>
</html>
