
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <a href="dashboard"><title>Sickets</title></a>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/dashboardCoded.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="dashboard.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="dashboard">Sickets</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="past">Past</a></li>
            <li><a href="message">Message</a></li>
            <li><a href="users">Users</a></li>
          </ul>
          <!--
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
          -->
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="main">
          <a href="dashboard"><h1 class="page-header">Wicked Student Nights</h1></a>

          <h2 class="sub-header">Past Events</h2>
          <div class="row" id="eventsContainer">
          </div>

          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="js/bootstrap.min.js"></script>
    <script>

      let events = {};

      var getCard = function(event) {

        let dateString = event.when.substring(8, 10) 
          + "/" + event.when.substring(5,7) + "/" + event.when.substring(2, 4);
        let timeString = event.when.substring(11, 16);
        let priceString = (event.price == 0) ? 'Free'
          : '£' + event.price.toFixed(2);

        let data = 
        '<div class="col-xs-6 col-sm-3">'
          + '<div class="eventCard">'
            + '<img src="' + event.image_url + '" class="eventPic">'
            + '<p class="eventtitle">' + event.name + '</p>'
            + '<p class="eventaddress">'
              + event.address
            + '</p>'
          + '</div>'
          + '<p class="sold">Sold: ' + event.joined.length 
            + '/' + event.capacity + '</p>'
          + '<table class="table table-bordered table-striped"> '
            + '<colgroup> '
              + '<tbody><tr> '
                + '<th scope=row>Coordinates</th> '
                + '<td>' + event.latlong + '</td> '
              + '</tr><tr> '
                + '<th scope=row>Date</th>'
                + '<td>' + dateString + '</td>'
              + '</tr><tr> '
                + '<th scope=row>Time</th>'
                + '<td>' + timeString + '</td>'
              + '</tr><tr> '
                + '<th scope=row>Capacity</th>'
                + '<td>' + event.capacity + '</td>'
              + '</tr><tr> '
                + '<th scope=row>Price</th>'
                + '<td>' + priceString + '</td> '
              + '</tr></tbody> '
            + '</table>'
          + '<p class="text-muted"">'
            + '<span onclick="editEvent(\'' + event._id + '\')">Edit</span> | '
            + '<span onclick="deleteEvent(\'' + event._id + '\')">Delete</span> | '
            + '<span onclick="duplicateEvent(\'' + event._id + '\')">Duplicate</span>'
          + '</p>'
        + '</div>';

        return data;
      }

      $(document).ready(() => {
        $.get('/pastEvents', (retrievedEvents, status) => {
          retrievedEvents.forEach((event) => {
            events[event._id] = event;
            let eventDiv = getCard(event);
            $('#eventsContainer').append(eventDiv);
          });
          if (retrievedEvents.length == 0) {
            $('#eventsContainer').append('<span>There have been no past events.</span>')
          }
        });
      });
    </script>
  </body>
</html>
