<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Book the game</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link rel="stylesheet" href="css/input.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  </head>
  <body>
    <div class="container">
      <h1>Continue Booking the Game</h1>
      <p>
        Using our secure gateway powered by Stripe.
      </p>
    </div>
    <div class="container">
      <form action="/charge?mid=<%=mid%>&gid=<%=gid%>&gameprice=<%= gameprice*100 %>" method="POST">
        <script
          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="pk_test_p3GX2e0V1P9FteC3qz29z4YK"
          data-amount="<%= gameprice*100 %>"
          data-name="Kickabout"
          data-description="Widget"
          data-image="img/logo.png"
          data-locale="auto"
          data-zip-code="false"
          data-currency="gbp">
        </script>
      </form>
    </div>

  </body>
</html>
