     /*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;

-webkit-text-size-adjust: none;
}
body {
  color: #fff;
  text-align: center;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper2 {
  width: 100%;
  display: table;
  height: 75vh !important; /* For at least Firefox */
  min-height: 75vh !important;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  background: url(../img/footballBackground-min.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.site-wrapper-payment {
  display: table;
  width: 100%;
  height: 100vh !important; /* For at least Firefox */
  min-height: 75vh !important;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  background: #1ED760;
}

.site-wrapper6 {
  display: table;
  width: 100%;
  height: 75vh !important; /* For at least Firefox */
  min-height: 75vh !important;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  background: url(../img/footballBackground-min.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom: 10px;
}

.site-wrapper3 {
  display: table;
  width: 100%;
  height: 75vh !important; /* For at least Firefox */
  min-height: 75vh !important;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  background: url(../img/people.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.site-wrapper4 {
  display: table;
  width: 100%;
  height: 75vh !important; /* For at least Firefox */
  min-height: 75vh !important;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  background: url(../img/base.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.site-wrapper5 {
  display: table;
  width: 100%;
  height: 75vh !important; /* For at least Firefox */
  min-height: 75vh !important;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  background-color: #1ED760;
}

.site-wrapper-inner2 {
  display: table-cell;
  vertical-align: top;
}
.cover-container2 {
  height: 90%;

  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}

.centralIphonePic {
    height: 400px;
    width: auto;
  }

 .iphone-div {
  margin-top: 10px;
  height: 400px;
  width: 196px;
  background-color: yellow;

  margin-left: auto;
  margin-right: auto;
  display: block;

  background: url(../img/bot-small.png) no-repeat;
 }

.messageUsPic {
  height: auto;
  width: 200px;
  padding-top: 10px;
  padding-bottom: 5px;
}

.rowIphonePic {
  height: 90%;
  padding-top: 10px;
}

.bottomRowOfIphones {
  margin-top: 50px;

}

.containerOfRowPhones {
  text-align: center;
  display: block;
}

.section-div {
  height: 75% !important;
}

.logoLead {
  margin-top: 10px;
  width: 350px;
}

.logoLead-payment {
  margin-top: 10px;
  width: 100px;
  margin-bottom: 10px;
}

.logoLead-custompayment {
  margin-top: 10px;
  width: 350px;
}

.number-section {
  text-align: left;
}

.subtitle {
  font-family: 'Muli', sans-serif;
  font-weight: 600;
}

.infoTextTop {
  margin-top: 10px;
}

.secondPhone {
  margin-top: 20px;
}

.email {
  background: none;
  font-color: #EEEEEE;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  width: 175px;
  padding: 1px;
}

.signUptoTest {
  font-weight: 600;
  margin-bottom: 0px;
}

textarea:focus, input:focus {
    color: #000;
}

input, select, textarea{
    color: #000;
}

.button {
  margin-top: 5px;
  margin-bottom: 5px;
  background: none;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 2px;
}

.teamProfile {
  text-align: center;
}

.profilePic {
  width: 100px;
  border-radius: 100%;
}

.nameTitle {
  margin-bottom: 0px;
  font-size: 20px;
}

.linkedIn {
  width: 15px;
  margin-bottom: 15px;
}

.partnerLogo {
  height: 150px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.pressLogo {
  width: 125px;
  margin-top: 10px
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.emailText {
  margin-top: 10px;
  font-size: 18px;
}

.find-facebook {
  width: 150px;
  margin-bottom: 20px;
}

.addressText {
  font-size: 12px;
  margin-top: 10px;
}

.contact-wrapper {
   display: table;
  width: 100%;
  height: 25vh !important; /* For at least Firefox */
  min-height: 25vh !important;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  background-color: #FF524F;
 }

 /* EXTERNAL PAGES */


p {
  font-size: 5vh;
}

.logoLead2 {
  width: 98%;
  margin-top: 50px;
  margin-bottom: 30px;
}

.button-login {
  width: 200px;
  color: #FFFFFF;
  background-color: #1ED760;
  border: none;
  border-radius: 2em;
  font-size: 18px;
}

.stripe-button {
  height: 50px;
}

.title-text {
  font-size: 18px;
  margin-top: 0px;
  color: #000000;
}

.title-text-useMessenger {
  font-size: 18px;
  margin-top: 10px;
  color: #FFFFFF;
}

.fb-send-to-messenger {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.messenger-button-container {
  width: 100%;
  text-align: center;

}

.messenger-container {
  padding-left: 75px;
}

.payWithCardButtonContainer {
  background: #FFFFFF;
  width: 170px;
  height: 80px;
  padding-top: 25px;
  position: relative;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  background:rgba(255,255,255, 0.5);
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
}

.footertext {
  font-size: 10px;
  text-align: center;
  width: 100%;
  padding-top: 0px;
  margin-top: 0px;
  padding-bottom: 5px;
  padding-top: 15px;

  color: #FFFFFF;
}

.footertext-customPayment {
  font-size: 10px;
  position: absolute;
  bottom: 0;
  text-align: center;
}

.input-field {
  color: #FFFFFF;
}

.formContainer {
  text-align: center;
  width: auto;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 300px;
}

.gamePic {
  width: 350px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 0px;
}

.gametitle {
  font-size: 12px;
  background: #FFFFFF;
  width: 195px;
  margin-top: -10px;
  padding-top: 5px;
  color: #000000;
  box-shadow: none;
  font-weight: 500;
  text-align: left;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;

  margin-left: auto;
  margin-right: auto;
  display: block;
}

.gametitlegame {
  font-size: 12px;
  background: #FFFFFF;
  width: 195px;
  margin-top: 0px;
  padding-top: 10px;
  color: #000000;
  box-shadow: none;
  font-weight: 500;
  text-align: left;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;

  margin-left: auto;
  margin-right: auto;
  display: block;
}

.gameaddress {
  font-size: 10px;
  background: #FFFFFF;
  width: 195px;
  margin-top: -15px;
  padding-top: 5px;
  color: #DBDBDB;
  box-shadow: none;
  text-align: left;
  padding-left: 5px;
  padding-right: 5px;

  margin-left: auto;
  margin-right: auto;
  display: block;

  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.gameaddressgame {
  font-size: 10px;
  background: #FFFFFF;
  width: 195px;
  margin-top: -15px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #DBDBDB;
  box-shadow: none;
  text-align: left;
  padding-left: 5px;
  padding-right: 5px;

  margin-left: auto;
  margin-right: auto;
  display: block;

  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.footerDiv {
  height: 10%;
  width: 100%;
}

/* DASHBOARD */

.eventImagePayment {
  width: 300px;

  margin-right: auto;
  margin-left: auto;
  display: block;
  margin-bottom: 5px;

  border-radius: 5px;
}

.eventNamePayment {
  font-weight: 400;
  font-size: 14px;
}

.eventSubtitlePayment {
  font-weight: 300;
  font-size: 14px;
}

.imageGame {
  width: 250px;
  border-radius: 5px;
}

.eventtitle {
  font-weight: 500;
  font-size: 16px;

  padding-top: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;

  color: #FFFFFF;
  padding-top: 5px;
}

.eventaddress {
  font-weight: 300;
  font-size: 12px;

  margin-top: 0px;
  padding-top: 0px;
  color: #FFFFFF;
  padding-top: 5px;
  margin-bottom: 5px;
}

.findFacebook {
  width: 100px;

  margin-top: 50px;
}

.phoneNumber {
  color: #FFFFFF;
  font-size: 12px;

  margin-top: 24px;
}

.inputNumber {
  width: 200px !important;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background: #000000;
}

.inputNumberContainer {
  width: 200px ;
  background: #444444;
}

.submitButton {
  margin-top: 10px;
}

.phoneNumberInputOuterContainer {
  background-color: rgba(0, 0, 0, .2);
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  width: 225px;

  border-radius: 5px;

  margin-right: auto;
  margin-left: auto;
  display: block;

}







