.card {
  padding: 20px;
  margin-bottom: 40px;
}

.current h5 {
  margin-top: 40px;
}

h2 {
  padding-top: 35px;
  padding-bottom: 20px;
}

.profile_img {
	width: 50px;
	height: 50px;
	border-radius: 1px;
}

.profileDivLeft {
	padding: 0px;
	margin: 0px;
}

.profileDivRight {
	padding: 0px;
	margin: 0px;
}

