<!DOCTYPE HTML>
<!--
  Fractal by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
  <head>
    <title>Activate | Log In or Sign Up</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta name="description" content="">
    <meta name="author" content="">
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="icon" href="img/activateFavicon.png">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/main.css" />
    <!-- Bootstrap core CSS -->

    <!-- CODED CSS -->
    <link href="css/website.css" rel="stylesheet">
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
  </head>
  <body id="top">

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <img class="activateLogoHeader" src="img/ALogo.png">
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" action="/login" method="post">
            <div class="form-group">
              <input type="text" name="username" placeholder="Bot Name" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" name="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary login-button">Log In</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Header -->
      <header id="header">
        <div class="content">
          <img class="activateLogoMainCentre" src="img/logoVectorNoBackground.png">
          <p id="formFeedback">Helping you create and manage bots.</p>
          <ul class="actions">
            <li><a href="#one" class="button icon fa-chevron-down scrolly">Learn More</a></li>
            <li type="button" data-toggle="modal" data-target="#myModal"> <a class="button special">Sign Up</a>
            </li>
          </ul>
        </div>
        <div class="image phone">
          <div class="inner" style="height:367px;">
            <video style="" height="363px" loop autoplay muted>
              <source src="video/botScreencast.mp4" type="video/mp4">
              <source src="movie.ogg" type="video/ogg">
                Your browser does not support the video tag.
            </video>
        </div></div>
      </header>

      <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Sign Up</h4>
            </div>
            <div class="modal-body">
              <form id="registerForm">
                <div class="form-group">
                  <input type="text" class="form-control" name="name" id="exampleInputEmail1" placeholder="Name" required>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="phoneNumber" id="exampleInputEmail1" placeholder="Phone Number" required>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" name="email" id="exampleInputEmail1" placeholder="Email" required>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="fbPageURL" id="exampleInputEmail1" placeholder="Facebook Page URL" required>
                </div>
                <div class="form-group">
                  <textarea class="form-control" rows="9" name="desc" placeholder="Please provide as much information on your bot requirements as possible and we'll be in touch as soon as possible." required></textarea>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default btn-close-modal" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal" id="formSubmit">Submit</button>
            </div>
          </div>
        </div>
      </div>

    <!-- One -->
      <section id="one" class="wrapper style2 special">

        <h2>Say goodbye to apps, and hello to bots!</h2>

      </section>

    <div class="container">
      <!-- Example row of columns -->
      <h3 class="websiteTitleBots">See who else is using Activate</h3>
      <div class="row">

        <div class="col-md-4 botAdContainer">
          <a href="www.facebook.com/kickaboutapp" target="blank">
            <img src="img/kickaboutLogoFB.png" class="botImageAd">
            <h2>Kickabout</h2>
          </a>
          <p>Football MeetUp Bot</p>
          <a href="http://m.me/UWEFootballcommunity" target="blank">
            <img class="botMessageUs" src="img/messsage-blue.png">
          </a>
        </div>

        <div class="col-md-4 botAdContainer">
          <a href="https://www.facebook.com/WickedStudentNights" target="blank">
            <img src="img/WSNlogo.jpg" class="botImageAd">
            <h2>Wicked Student Nights</h2>
          </a>
          <p>Club Ticket Bot</p>
          <a href="http://m.me/WickedStudentNights" target="blank">
            <img class="botMessageUs" src="img/messsage-blue.png">
          </a>
       </div>

        <div class="col-md-4 botAdContainer">
          <a href="www.facebook.com/kickaboutapp" target="blank">
            <img src="img/UWEFootballLogo.jpg" class="botImageAd">
            <h2>UWE Football</h2>
          </a>
          <p>University Football Society Bot</p>
          <a href="http://m.me/UWEFootballcommunity" target="blank">
            <img class="botMessageUs" src="img/messsage-blue.png">
          </a>
        </div>

      </div>

      <hr>

      <footer>
        <p class="footerText">&copy; 2016 Activate Technologies Ltd | alex@activatetechnologies.co.uk | 07825 542533 | 103c Camley St, London N1C 4PF</p>
      </footer>
    </div> <!-- /container -->

    <!-- Scripts -->
      <script src="assets/js/jquery.min.js"></script>
      <script src="assets/js/jquery.scrolly.min.js"></script>
      <script src="assets/js/skel.min.js"></script>
      <script src="assets/js/util.js"></script>
      <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
      <script src="assets/js/main.js"></script>

      <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')</script>
    <script src="js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $('#formSubmit').click(function(event){
          $.post("/register", $("#registerForm").serialize(), function(data) {
            $('#formFeedback').text(data)
          });
        })
      })
    </script>
  </body>
</html>
