
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="img/activateFavicon.png">

    <title>Activate | Log In or Sign Up</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- CODED CSS -->
    <link href="css/dashboardCoded.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <img class="activateLogoHeader" src="img/ActivateLogoWhite.png">
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" action="/login" method="post">
            <div class="form-group">
              <input type="text" name="username" placeholder="Bot Name" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" name="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Log In</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <div class="jumbatronLeftContainer">
          <h2>Activate is a platform for managing event and shop bots.</h2>
          <p>Goodbye apps, hello bots!</p>

          <div class="iphonesDiv">
            <video style="margin-top: 49px; margin-left: 323px;" height="300px" width="autos" loop autoplay muted>
              <source src="video/botScreencast.mp4" type="video/mp4">
              <source src="movie.ogg" type="video/ogg">
              Your browser does not support the video tag.
            </video>
          </div>

        </div>
        <div class="jumbatronRightContainer">
          <h2 id="formTitle">Want a Bot?</h2>
          <form id="registerForm">
            <div class="form-group">
              <input type="text" class="form-control" name="name" id="exampleInputEmail1" placeholder="Name" required>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="phoneNumber" id="exampleInputEmail1" placeholder="Phone Number" required>
            </div>
            <div class="form-group">
              <input type="email" class="form-control" name="email" id="exampleInputEmail1" placeholder="Email" required>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="fbPageURL" id="exampleInputEmail1" placeholder="Facebook Page URL" required>
            </div>
            <div class="form-group">
              <textarea class="form-control" rows="9" name="desc" placeholder="Please provide as much information on your bot requirements as possible and we'll be in touch as soon as possible." required></textarea>
            </div>
            <input type="submit" class="btn btn-success btn-block" value="Submit">
          </form>
        </div>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">

        <div class="col-md-4 botAdContainer">
          <a href="www.facebook.com/kickaboutapp" target="blank">
            <img src="img/kickaboutLogoFB.png" class="botImageAd">
            <h2>Kickabout</h2>
          </a>
          <p>Football MeetUp Bot</p>
          <a href="http://m.me/UWEFootballcommunity" target="blank">
            <img class="botMessageUs" src="img/messsage-blue.png">
          </a>
        </div>

        <div class="col-md-4 botAdContainer">
          <a href="https://www.facebook.com/WickedStudentNights" target="blank">
            <img src="img/WSNlogo.jpg" class="botImageAd">
            <h2>Wicked Student Nights</h2>
          </a>
          <p>Club Ticket Bot</p>
          <a href="http://m.me/WickedStudentNights" target="blank">
            <img class="botMessageUs" src="img/messsage-blue.png">
          </a>
       </div>

        <div class="col-md-4 botAdContainer">
          <a href="www.facebook.com/kickaboutapp" target="blank">
            <img src="img/UWEFootballLogo.jpg" class="botImageAd">
            <h2>UWE Football</h2>
          </a>
          <p>University Football Society Bot</p>
          <a href="http://m.me/UWEFootballcommunity" target="blank">
            <img class="botMessageUs" src="img/messsage-blue.png">
          </a>
        </div>

      </div>

      <hr>

      <footer>
        <p class="footerText">&copy; 2016 Activate Technologies Ltd | alex@activatetechnologies.co.uk | 07825 542533 | 103c Camley St, London N1C 4PF</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        console.log(1111);
        $('#registerForm').submit(function(event){
          console.log("submitted");
          event.preventDefault();
          $.post("/register", $("#registerForm").serialize(), function(data) {
            console.log(33333);
            $('#registerForm').css('display', 'none');
            $('#formTitle').text(data)
          });
        })
      })
    </script>
  </body>
</html>
