<button class="btn btn-primary" (click)="createGroup()" data-toggle="modal" data-target="#myModal">Create messenger group</button>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <group-form [groupitems]="selectedItems">Loading...</group-form>
    </div>
</div>


<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th><p>Select all</p><input type="checkbox" [(ngModel)]="selectAll"></th>
        <th></th>
        <th (click)="headingClicked(0)"><p>Name<span class="glyphicon glyphicon-sort-by-attributes" *ngIf="currentHead==0 && isReversed==false"></span><span class="glyphicon glyphicon-sort-by-attributes-alt" *ngIf="currentHead==0 && isReversed==true"></span></p></th>
        <th>
        	<p (click)="headingClicked(1)">Gender<span class="glyphicon glyphicon-sort-by-attributes" *ngIf="currentHead==1 && isReversed==false"></span><span class="glyphicon glyphicon-sort-by-attributes-alt" *ngIf="currentHead==1 && isReversed==true"></span></p>
        	<select (change)="onChange($event.target.value, 4)">
					  <option *ngFor="let gender of playerGenders">{{gender}}</option>
					</select>
        </th>
        <th *ngIf="isColDisplayed(2)" (click)="headingClicked(2)"><p>Phone Number<span class="glyphicon glyphicon-sort-by-attributes" *ngIf="currentHead==2 && isReversed==false"></span><span class="glyphicon glyphicon-sort-by-attributes-alt" *ngIf="currentHead==2 && isReversed==true"></span></p></th>
        <th *ngIf="isColDisplayed(3)" (click)="headingClicked(3)"><p>Email<span class="glyphicon glyphicon-sort-by-attributes" *ngIf="currentHead==3 && isReversed==false"></span><span class="glyphicon glyphicon-sort-by-attributes-alt" *ngIf="currentHead==3 && isReversed==true"></span></p></th>
        <th *ngIf="isColDisplayed(4)">
        	<p (click)="headingClicked(4)">Preferred Position<span class="glyphicon glyphicon-sort-by-attributes" *ngIf="currentHead==4 && isReversed==false"></span><span class="glyphicon glyphicon-sort-by-attributes-alt" *ngIf="currentHead==4 && isReversed==true"></span></p>
	        <select (change)="onChange($event.target.value, 0)">
					  <option *ngFor="let position of playerPositions">{{position}}</option>
					</select>
        </th>
        <th *ngIf="isColDisplayed(5)">
        	<p (click)="headingClicked(5)">Backup Position<span class="glyphicon glyphicon-sort-by-attributes" *ngIf="currentHead==5 && isReversed==false"></span><span class="glyphicon glyphicon-sort-by-attributes-alt" *ngIf="currentHead==5 && isReversed==true"></span></p>
        	<select (change)="onChange($event.target.value, 1)">
					  <option *ngFor="let position of playerPositions">{{position}}</option>
					</select>
        </th>
        <th *ngIf="isColDisplayed(6)">
        	<p (click)="headingClicked(6)">Level<span class="glyphicon glyphicon-sort-by-attributes" *ngIf="currentHead==6 && isReversed==false"></span><span class="glyphicon glyphicon-sort-by-attributes-alt" *ngIf="currentHead==6 && isReversed==true"></span></p>
        	<select (change)="onChange($event.target.value, 2)">
                <option *ngFor="let level of playerLevels">{{level}}</option>
			</select>
        </th>
        <th *ngIf="isColDisplayed(7)">
        	<p (click)="headingClicked(7)">New/Returning<span class="glyphicon glyphicon-sort-by-attributes" *ngIf="currentHead==7 && isReversed==false"></span><span class="glyphicon glyphicon-sort-by-attributes-alt" *ngIf="currentHead==7 && isReversed==true"></span></p>
        	<select (change)="onChange($event.target.value, 3)">
					  <option *ngFor="let type of playerTypes">{{type}}</option>
					</select>
        </th>
        <th>
            <p (click)="headingClicked(8)">Signed Up Date<span class="glyphicon glyphicon-sort-by-attributes" *ngIf="currentHead==8 && isReversed==false"></span><span class="glyphicon glyphicon-sort-by-attributes-alt" *ngIf="currentHead==8 && isReversed==true"></span></p>
            <input (change)="setDateFilter($event.target.value)" name="daterange" value=""/>
        </th>
        <th>
            <p (click)="headingClicked(9)">Timer<span class="glyphicon glyphicon-sort-by-attributes" *ngIf="currentHead==9 && isReversed==false"></span><span class="glyphicon glyphicon-sort-by-attributes-alt" *ngIf="currentHead==9 && isReversed==true"></span></p>
            <p><input type="checkbox" (change)="onTimerChange()" [(ngModel)]="timerFilters[0]"> Green</p>
            <p><input type="checkbox" (change)="onTimerChange()" [(ngModel)]="timerFilters[1]"> Amber</p>
            <p><input type="checkbox" (change)="onTimerChange()" [(ngModel)]="timerFilters[2]"> Red</p>

        </th>
        <th (click)="headingClicked(10)"><p>User ID<span class="glyphicon glyphicon-sort-by-attributes" *ngIf="currentHead==10 && isReversed==false"></span><span class="glyphicon glyphicon-sort-by-attributes-alt" *ngIf="currentHead==10 && isReversed==true"></span></p></th>
        <!-- <th>Select</th> -->
      </tr>
    </thead>
    <tbody id="usersTBody">
    	<tr *ngFor="let user of users | filter:fields:filters | filterdate:dateFilter | filtertimer:timerFilters | selectall:selectAll | orderBy:orderField:isReversed; let i = index">
    		<td><p>{{i + 1}}</p><input type="checkbox" [(ngModel)]="selectAll ? user.selected : user.manuallySelected" (click)="onManualSelect(user)" [disabled]="selectAll"></td>
    		<td><img style="height:50px;" src="{{user.profilePic}}" /></td>
    		<td>{{user.firstName + " " + user.lastName}}</td>
    		<td>{{user.gender | capitaliseFirst}}</td>
    		<td *ngIf="isColDisplayed(2)">{{user.phoneNumber | phoneNumber}}</td>
        <td *ngIf="isColDisplayed(3)">{{user.email || '-'}}</td>
        <td *ngIf="isColDisplayed(4)">{{user.preferredPosition || '-'}}</td>
        <td *ngIf="isColDisplayed(5)">{{user.backupPosition || '-'}}</td>
        <td *ngIf="isColDisplayed(6)">{{user.level || '-'}}</td>
        <td *ngIf="isColDisplayed(7)">{{user.type | capitaliseFirst}}</td>
    		<td>{{getFormattedDate(user.signedUpDate)}}</td>
        <td [style.background-color]="getColour(user.interactionTime, user.receivedTime)">{{getTimer(user.interactionTime, user.receivedTime)}}</td>
        <td>{{user._id}}</td>
    		<!--<td><input type="checkbox" ng-model="selection" ng-change="updateSelectedItems(user._id)"></td> -->
    	</tr>
    </tbody>
  </table>
</div>