<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
		  		<button type="button" class="close" data-dismiss="modal">&times;</button>
		  		<h4 class="modal-title">Create messenger group</h4>
			</div>
			<form (ngSubmit)="onSubmit()" #groupForm="ngForm">
				<div class="modal-body">
					<div class="form-group">
			    		<label for="groupName">Group Name</label>
			    		<input type="text" class="form-control" id="groupName" required [(ngModel)]="groupName" name="groupName">
					</div>
					<p>{{ groupitems.length }} users selected</p>
				</div>
				<div class="modal-footer">
					<!-- <button type="submit" class="btn btn-default" (click)="onSubmit()">Submit</button> -->
					<button type="submit" class="btn btn-default" [disabled]="!groupForm.form.valid">Submit</button>
				</div>
			</form>
		</div>
    </div>
</div>